<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Discovered Containers</title>
    <link
      rel="stylesheet"
      href="./static/bootstrap_7cc40c199d128af6b01e74a28c5900b0.min.css"
    />
  </head>
  <body>
    <h1>Containers</h1>
    <div>
      <span
        >{{ .WithJob }} of total {{ .Total }} containers found with
        'prometheus_job' label</span
      >
    </div>
    <div>
      <span class="text-capitalize badge badge-success">{{ .OKs }} OK</span>
      <span class="text-capitalize badge badge-warning"
        >{{ .Warnings }} warnings</span
      >
      <span class="text-capitalize badge badge-danger"
        >{{ .Errors }} errors</span
      >
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Labels</th>
          <th>Has job?</th>
          <th>Is exported?</th>
          <th>In network?</th>
          <th>Has ports?</th>
          <th>Has explicit port?</th>
        </tr>
      </thead>
      <tbody>
        {{ range .Items }}
        <tr class="bootstrap">
          <td>{{ .Name }}</td>
          <td>
            {{ range .Labels}}
            <div><span class="mr-1 badge badge-primary">{{ . }}</span></div>
            {{ end }}
          </td>

          <td>{{ if .HasJob }}yes{{ else }}no{{ end }}</td>
          {{ if .HasJob }}
          <td>
            {{ if .IsExported }}<span
              class="text-capitalize badge badge-success"
              >yes</span
            >{{ else }}<span class="text-capitalize badge badge-danger">no</span
            >{{end}}
          </td>
          <td>
            {{ if .IsInTargetNetwork }}<span
              class="text-capitalize badge badge-success"
              >yes</span
            >{{ else }}<span class="text-capitalize badge badge-danger">no</span
            >{{ end }}
          </td>
          {{ if .IsInTargetNetwork }}
          <td>
            {{ if .HasTCPPorts }}<span
              class="text-capitalize badge badge-success"
              >yes</span
            >{{ else }}<span class="text-capitalize badge badge-danger">no</span
            >{{ end }}
          </td>
          {{ if .HasTCPPorts }}
          <td>
            {{ if .HasExplicitPort }}<span
              class="text-capitalize badge badge-success"
              >yes</span
            >{{ else }}<span class="text-capitalize badge badge-warning"
              >no</span
            >{{ end }}
          </td>
          {{ end }} {{ end }} {{ end }}
        </tr>
        {{ end }}
      </tbody>
    </table>
  </body>
</html>
